#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--text-color);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 4px 12px;
    overflow: hidden;
    z-index: 100;
}
#header-title {
    position: relative;
    flex: none;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}
#header-title-img {
    height: 100%;
    object-fit: contain;
}
#header-title-text {
    /*
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     */
    align-self: flex-end;
    font-family: var(--font-head), sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #3E3E3E;
    margin: 0 5px 0 -30px;
}
#header > nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#header-menu {
    flex: 1;
    width: 100%;
    justify-content: left;
    align-items: center;
}
#header-menu > a {
    flex: none;
    width: fit-content;
    font-family: var(--font-menu), sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 0 20px;
}
#header-menu > a:hover {
    mix-blend-mode: difference;
}
#header-menu > a:first-letter {
    color: var(--sub-color);
}
#header-user {
    flex: none;
    width: fit-content;
    gap: 10px;
}
#header-user > a {
    flex: none;
    width: fit-content;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-normal), sans-serif;
    font-size: 14px;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.3s all;
}
#header-user > a:first-child {
    color: white;
    background-color: var(--text-color);
}
#header-user > a:last-child {
    color: var(--text-color);
    background-color: transparent;
    border-color: #6a6a6a;
}
#header-user > a:hover {
    font-family: var(--font-bold), sans-serif;
    color: white;
    background-color: var(--sub-color);
    border-color: transparent;
}
#header-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    opacity: 0;
    transform: translateX(-20px);
    background:
            linear-gradient(135deg, transparent 50%, var(--sub-color) 50% 70%, transparent 70%),
            linear-gradient(65deg, transparent 35%, var(--bright-color) 35% 65%, transparent 65%);
    pointer-events: none;
    transition: all 0.3s;
}