.bodycontainer{
    margin-top: 150px;
    margin-left: 50px;
}

.imgcontainer{

}

.upper{
    display:flex;          /*닉네임, 이메일 한줄로 나란히*/
}

.lower{
    display:flex;         /*비밀번호, 자주쓰는주소 나란히*/
}

.introduction{
    display:flex;
}


.defaultprofilepicture {
    display:inline-block;
    border: 2px solid red /* 빨간색 테두리 추가 */
}

/*최근 등록한 게시물*/
.recentlyRegisteredPosts {
  display:inline-block;

  background-color: white;
  width: 400px;
  height : 600px;
  border: 1px solid red;
  margin-top : 10px;
}

/*최근 등록한 댓글*/
/*.recentlyRegisteredComments {
  background-color: white;
  width: 400px;
  height : 1000px;
  border: 1px solid red;
  margin-top : 10px;
  display:flex;
  *//*display:inline-block;*//*
}*/

/*최근 등록한 게시물, 댓글 - 목록*/
.title {
  color: white;
  background-color: green;
  width: 200px;
  height: 30px;
  padding: 20px;
  border: 2px solid black;
  margin: 15px;
}

.email{
    margin-left: 10px;
}

.address{
    margin-left: 10px;
}

.password{

}


/*수정버튼 css*/
.nicknamebutton{
    background-color:#ff95ba;
    border-radius:5px;
    margin-left:10px;
}

.emailbutton{
    background-color:#ff95ba;
    border-radius:5px;
    margin-left:10px;
}

.passwordbutton{
    background-color:#ff95ba;
    border-radius:5px;
    margin-left:10px;
}

.addressbutton{
    background-color:#ff95ba;
    border-radius:5px;
    margin-left:10px;
}

.introbutton{
    background-color:#ff95ba;
    border-radius:5px;
    margin-left:15px;
}
/*수정버튼 css 끝*/

.recentlyRegisteredPosts{
    border-color:2px solid blue;
}