#profile-container {
    width: 100%;
    min-height: var(--main-min-height);
    background: white;
    padding: 20px;
}
#profile-title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
}
#profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #EAEAEA;
}
#profile-img-container {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}
#profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px) 80px;
    gap: 10px;
    padding: 0 10px;
}
.profile-input {
    position: relative;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-family: var(--font-normal), sans-serif;
    font-size: 16px;
    color: var(--text-color);
}
.profile-input.span-2 {
    grid-column: span 2;
}
.profile-input label {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background: var(--text-color);
    border-radius: 5px;
}
.profile-input input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-normal), sans-serif;
    font-size: 16px;
    color: var(--text-color);
}
.profile-input textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-normal), sans-serif;
    font-size: 16px;
    color: var(--text-color);
    resize: none;
}
.profile-input input:focus,
.profile-input textarea:focus {
    outline: none;
}
.profile-input > button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-menu), sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background: var(--background-color-grey);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}
.profile-input:hover > button {
    opacity: 1;
}
.profile-input > button:hover {
    background: var(--background-color-dark);
    color: white;
}
#profile-submit {
    justify-self: flex-end;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-menu), sans-serif;
    font-size: 16px;
    background: var(--background-color-grey);
    border: 0;
    border-radius: 5px;
}
#profile-submit:hover {
    background: var(--background-color-dark);
    color: white;
}
#profile-submit button {
}

#recent-container {
    width: 100%;
    display: flex;
    gap: 10px;
}
.mypage-lists {
    flex: 1;
    background: var(--background-color-grey);
    padding: 20px;
    border-radius: 10px;
}
.mypage-lists h3 {
    padding: 10px;
    font-family: var(--font-normal), sans-serif;
    font-size: 16px;
    color: var(--text-color);
    border-bottom: 1px solid #EAEAEA;
}
.mypage-list {
    width: 100%;
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
    overflow: hidden;
}
.mypage-list-item {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-normal), sans-serif;
    font-size: 14px;
    background: white;
    padding: 10px;
    border-bottom: 1px solid #EAEAEA;
}
.mypage-list-item:nth-child(2n) {
    background: #f0f0f0;
}
.mypage-list-item:hover {
    background: var(--background-color-grey);
}