/*전체바디*/
.bodycontainer{
    margin:40px;
    margin-top: 50px;
    font-family: "East Sea Dokdo", sans-serif;
}

.mypagetitle{
    color:white;
}

.bodytitle{
    color:black;
}

.profiletitle{
    color:white;
}

.profile{
    padding:20px;
    border:1px solid white;
    border-radius:10px;
    background-color:white;
    width:700px;
}

/*닉네임, 이메일*/
.upper{
    display:flex;          /*닉네임, 이메일 한줄로 나란히*/
}

/*비밀번호, 주소*/
.lower{
    display:flex;         /*비밀번호, 자주쓰는주소 나란히*/
}

/*한줄소개*/
.introduction{
    display:flex;         /*한줄소개 나란히*/
}

/*프사*/
.defaultprofilepicture {
    display:inline-block;
    border: 2px solid black; /* 빨간색 테두리 추가 */
    width:100px;
    height:100px;
}

/*전체박스*/
.recents{
    width: 1200px;
    height : 300px;
    display: flex;
    /*justify-content: center;*/
/*    border: 1px solid black;*/
    padding-top:0px;
    padding:10px;
    padding-left:0px;
}

/*최근 등록한 게시물*/
.recentlyRegisteredPosts {
    background-color: white;
    width: 550px;
    height : 210px;
    border: 1px solid black;
    margin-top : 10px;
    margin-bottom : 5px;
    margin-right:30px;
    border-radius:10px;
}

/*최근 등록한 댓글*/
.recentlyRegisteredComments{
    background-color: white;
    width: 550px;
    height : 210px;
    border: 1px solid black;
    margin-top : 10px;
    margin-bottom:10px;
    margin-left:30px;
    border-radius:10px;
}

/*최근 등록한 게시물, 댓글 - 목록*/
.title {
    color: black;
    /*background-color: #fb95b9;*/
    width: 530px;
    height: 40px;
    margin-top: 0px;
    border:1px solid gray;
    padding:12px;
    border-top:none;
    border-left:none;
    border-right:none;
}

.email{
    margin-left: 30px;
}

.address{
    margin-left: 30px;
}

.caption{                        /*내가 쓴 게시글*/
    display:flex;                /*나란히*/
    margin-top:30px;
}

.caption1{
    margin-left:00px;
}

/*댓글오른쪽*/
.caption2{
    margin-left: 480px;          /*내가 쓴 댓글*/
    color:white;
}

/*수정버튼 css*/
.editbutton{
    background-color:#fa605c;
    border-radius:5px;
    margin-left:10px;
    border: none;
    margin-bottom:10px;
}

.editbutton:hover{
    background-color:black;
    color:white;
    transition: 0.3s ease-in-out;
}
/*수정버튼 css 끝*/

