@import "./fonts.css";
@import "./landing.css";
@import "./includes/header.css";
@import "./user/mypage.css";
@import "./community/main.css";

:root {
    --font-head: 'MYArirang-Medium', sans-serif;
    --font-menu: 'Paperlogy-8ExtraBold', sans-serif;
    --font-light: 'GmarketSansLight', sans-serif;
    --font-normal: 'GmarketSansMedium', sans-serif;
    --font-bold: 'GmarketSansMedium', sans-serif;
    --font-batang: 'Gyeonggi_Batang_Regular', serif;
    --font-itelic: 'GabiaCheongyeon', sans-serif;
    --font-hightlight: 'Hangeuljaemin4-Regular', sans-serif;

    --background-color-dark: #3E3E3E;
    --background-color-bright: #FBF5F3;
    --text-color: #402E2A;
    --main-color: #B892FF;
    --sub-color: #D64933;
    --bright-color: #EFC7C2;
}
* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-bright);
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-itelic), serif;
    color: var(--text-color);
    margin: 0;
}
p, li, span {
    font-family: var(--font-batang), sans-serif;
    font-size: 14px;
    color: var(--text-color);
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
}