@import "fonts.css";
@import "index/main.css";
@import "main/form/main.css";
@import "main/result/result.css";
@import "includes/header.css";
@import "includes/footer.css";
@import "includes/modal.css";
@import "includes/juso.css";
@import "user/mypage.css";
@import "user/register.css";
@import "user/login.css";
@import "community/list.css";
@import "community/new.css";
@import "community/view.css";
@import "hotplace/hotplace.css";
@import "admin/listUser.css";
@import "admin/ads/ads.css";

:root {
    --font-head: 'MYArirang-Medium', sans-serif;
    --font-menu: 'Paperlogy-8ExtraBold', sans-serif;
    --font-light: 'GmarketSansLight', sans-serif;
    --font-normal: 'GmarketSansMedium', sans-serif;
    --font-bold: 'GmarketSansMedium', sans-serif;
    --font-batang: 'Gyeonggi_Batang_Regular', serif;
    --font-itelic: 'GabiaCheongyeon', sans-serif;
    --font-hightlight: 'Hangeuljaemin4-Regular', sans-serif;

    --background-color-dark: #3E3E3E;
    --background-color-bright: #FBF5F3;
    --background-color-grey: #EAEAEA;
    --text-color: #402E2A;
    --main-color: #B892FF;
    --sub-color: #D64933;
    --bright-color: #EFC7C2;

    --header-height: 60px;
    --main-min-height: calc(100vh - var(--header-height));
}
* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-dark);
    padding: 0;
    margin: 0;
}
main {
    position: relative;
    width: 100vw;
    height: fit-content;
    max-width: 900px;
    min-height: var(--main-min-height);
    margin: 0 auto;
}
main.max {
    max-width: unset;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-itelic), serif;
    color: var(--text-color);
    margin: 0;
}
p, li {
    font-family: var(--font-batang), sans-serif;
    font-size: 14px;
    color: var(--text-color);
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
}