@font-face {
    font-family: 'MYArirang-Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYArirang-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GabiaCheongyeon';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GabiaCheongyeon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hangeuljaemin4-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Hangeuljaemin4-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-head: 'MYArirang-Medium', sans-serif;
    --font-menu: 'GabiaCheongyeon', sans-serif;
    --font-text: 'Gyeonggi_Batang_Regular', serif;
    --font-hightlight: 'Hangeuljaemin4-Regular', sans-serif;

    --background-color: #EFC7C2;
    --text-color: #402E2A;
    --main-color: #B892FF;
    --sub-color: #D64933;
    --bright-color: #EFC7C2;

}
* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
}