.location-box {
    width: 400px;
    height: fit-content;
}
.my-juso {
    flex: none;
    width: 200px;
    height: 30px;
    display: flex;
    margin: -5px 0 0 auto;
}
.my-juso > .my-juso-button {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: var(--font-menu), sans-serif;
    font-size: 12px;
    background-color: #e0e0e0;
    border: 0;
    border-radius: 0;
    border-image: linear-gradient(to bottom, transparent 20%, #aaa 20% 80%, transparent 80%) 1;
    cursor: pointer;
}
.my-juso > .my-juso-button:first-child {
    flex: 2;
    border-right: 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.my-juso > .my-juso-button:last-child {
    flex: 1;
    border-left: 1px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.my-juso > .my-juso-button:hover {
    color: white;
    background-color: var(--sub-color);
    border-image: none;
}