@import "radius.css";
@import "main_box.css";
@import "category_box.css";
@import "category_button.css";
@import "location_box.css";
@import "location_toggle.css";
@import "radius.css";
@import "sort.css";

main#main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image:*/
    /*    linear-gradient(#fff4, #fff4),*/
    /*    url("/images/main_photo_0.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}
#main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    perspective: 1000px;
}
#main-hr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
    border: 1px dashed #e0e0e0;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#center-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translate(-50%, calc(-50% - 102px));
    z-index: 10;
}
#go-button {
    width: 100px;
    height: 100px;
    font-family: var(--font-menu), sans-serif;
    font-size: 20px;
    color: white;
    background: var(--sub-color);
    border: 0;
    border-radius: 50% 50% 0 50%;
    transform: rotate(45deg);
}
#go-button:hover {
    background: white;
}
#go-button span {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px #0004;
    margin: auto;
    transform: rotate(-45deg);
}


.location-logs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow-y: auto;
}