@import "radius.css";
@import "main_box.css";
@import "location_box.css";
@import "location_toggle.css";

main#main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image:*/
    /*    linear-gradient(#fff4, #fff4),*/
    /*    url("/images/main_photo_0.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}
#main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    perspective: 1000px;
}
#main-hr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
    border: 1px dashed #e0e0e0;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#go-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    font-family: var(--font-menu), sans-serif;
    font-size: 20px;
    color: white;
    background: var(--sub-color);
    border: 0;
    border-radius: 50% 50% 0 50%;
    transform: translate(-50%, calc(-50% - 72px)) rotate(45deg);
    z-index: 10;
}
#go-button:hover {
    background: white;
}
#go-button span {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px #0004;
    margin: auto;
    transform: rotate(-45deg);
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: auto 0;
}
.categories hr {
    grid-column: 1 / -1;
    width: 100%;
    border: 1px solid #e0e0e0;
    margin: 5px auto;
}
input[name="category"] {
    display: none;
}
input[name="category"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-family: var(--font-menu), sans-serif;
    font-size: 12px;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
}
input[name="category"] + label:hover {
    background-color: white;
}
input[name="category"]:checked + label {
    background-color: var(--sub-color);
    color: white;
}
input[name="category"]:disabled + label {
    opacity: 0;
    pointer-events: none;
}
.tag-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.tag-button {
    font-family: var(--font-menu), sans-serif;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}
.tag-button:hover {
    color: white;
    background-color: var(--sub-color);
}
.location-logs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow-y: auto;
}