/*핫플레이스 css*/

.main{
    display:flex;
}

.cafe{
    width:160px;
    height:70px;
    /*border:1px solid red;*/
    margin:10px;
}

.restaurant{
    width:160px;
    height:70px;
    /*border:1px solid red;*/
    margin:10px;
}

.spot{
    width:160px;
    height:70px;
    /*border:1px solid red;*/
    margin:10px;
}

.hotel{
    width:160px;
    height:70px;
    /*border:1px solid red;*/
    margin:10px;
}

.cafebutton{
    width:75px;
    height:65px;
    background-color:lightpink;
}

.restaurantbutton{
    width:75px;
    height:65px;
    background-color:lightpink;
}

.spotbutton{
    width:75px;
    height:65px;
    background-color:lightpink;
}

.hotelbutton{
    width:75px;
    height:65px;
    background-color:lightpink;
}

.regionSelect{
    overflow:scroll;
    overflow-x:hidden;
    width : 300px;
    height: 550px;
    margin-left: 30px;
    margin-top: 200px;
    border:1px solid black;
    justify-content:center;
}

.sidebar{
    overflow:scroll;
    overflow-x:hidden;
    width:480px;
    height:550px;
    display:flex;
    width : 400px;
    height: 550px;
    margin-left: 30px;
    margin-top: 200px;
    border:1px solid black;
}

.regions{
    width:250px;
    height: 50px;
    display:block;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color:lightpink;
    justify-content:center;
}


.button {
   border:none;
   background-color:white;
   box-shadow:0px 3px 5px rgb(220,220,220);
   padding:10px;
 }