/*핫플레이스 css*/
.main{
    display:flex;
}

.sidebartitle{
    margin-top:30px;
    margin-bottom:30px;
    font-size:40px;
    font-family:"East Sea Dokdo", sans-serif;
    text-align:center;
    color: 27020b;
}

.cafe{
    margin:10px;
    margin-top:30px;
    margin-bottom:30px;
}

.restaurant{
    margin:10px;
    margin-top:30px;
    margin-bottom:30px;
}

.spot{
    margin:10px;
    margin-top:30px;
    margin-bottom:30px;
}

.hotel{
    margin:10px;
    margin-top:30px;
    margin-bottom:30px;
}

/*카페버튼*/
.cafebutton{
    width:120px;
    height:75px;
    background-color:white;
    border: none;
    border-radius : 40px;
    margin:auto;
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:35px;
    color: 27020b;
}

.cafebutton:hover{
    background-color: 27020b;
    color:white;
    transition:0.5s;
}

.restaurantbutton{
    width: 120px;
    height: 75px;
    background-color: white;
    border: none;
    border-radius: 40px;
    margin: auto;
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: 27020b;
}

.restaurantbutton:hover{
    background-color: 27020b;
    color:white;
    transition:0.5s;
}

.spotbutton{
    width:120px;
    height:75px;
    background-color:white;
    border: none;
    border-radius : 40px;
    margin:auto;
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:35px;
    color: 27020b;
}

.spotbutton:hover{
    background-color: 27020b;
    color:white;
    transition:0.5s;
}

.hotelbutton{
    width:120px;
    height:75px;
    background-color:white;
    border: none;
    border-radius : 40px;
    margin:auto;
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:35px;
    color: 27020b;
}

.hotelbutton:hover{
    background-color: 27020b;
    color:white;
    transition:0.5s;
}

.regionSelect{                      /*지역선택바*/
    overflow:scroll;
    overflow-x:hidden;
    width : 400px;
    height: 660px;
    margin-left: 100px;
    margin-top: 100px;
    border: none;
    border-radius : 10px;
    justify-content:center;
    background-color: #ffcac9;
    justify-content:center;
}

.regions{                           /*지역선택 목록*/
    width:180px;
    height: 50px;
    display:block;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    margin: auto;
    margin-top:15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    background-color:white;
    justify-content:center;
    text-align:center;
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    color: 27020b;
}


.regions:hover{
    background-color: 27020b;
    color:white;
    transition:0.5s;
}

.line {                             /*카테고리 구분선*/
    width: 600px;
    height: 1px;
    background-color:gray;
}

/* 카테고리 사이드바 기본 스타일 */
.sidebar {
  overflow-x: hidden;          /* 수평 스크롤 숨기기 */
  display: block;              /* flex로 설정 */
  width: 400px;
  height: 660px;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;            /* 화면 고정 */
  left: -400px;               /* 화면 왼쪽 밖에 위치 */
  background-color: #ffcac9;
  font-size: 40px;
  justify-content: center;
  text-align: center;
  visibility: hidden;         /* 기본적으로 보이지 않게 설정 */
  opacity: 0;                 /* 투명하게 설정 */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0s linear 0.5s; /* 애니메이션 설정 */
}

/* 사이드바가 열릴 때 */
.sidebar.open {
  transform: translateX(400px); /* 사이드바가 화면 안으로 슬라이드 */
  visibility: visible;          /* 보이게 설정 */
  opacity: 1;                   /* 불투명하게 설정 */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* 애니메이션 */
}

.section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}


.movebar{               /*열고닫기버튼*/
    width:150px;
    height: 50px;
    display:block;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: 27020b;
    background-color:white;
    justify-content:center;
    text-align:center;
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
}

.movebar:hover{
    background-color:27020b;
    color:white;
    transition:0.3s ease-in-out;
}

.content-container {
  margin-left: 320px; /* 사이드바가 열렸을 때 콘텐츠가 왼쪽으로 밀리도록 설정 */
  transition: margin-left 0.3s ease;
}

.content-container .page {
  display: none;
  transition: opacity 0.5s ease;
}

.content-container .active {
  display: block;
  opacity: 1;
}

/*==========================================================*/



