/*핫플레이스 css*/

.main{
    display:flex;
}

.cafe{
    width:160px;
    height:70px;
    /*border:1px solid red;*/
    margin:10px;
    display:flex;
}

.restaurant{
    width:160px;
    height:70px;
    /*border:1px solid red;*/
    margin:10px;
}

.spot{
    width:160px;
    height:70px;
    /*border:1px solid red;*/
    margin:10px;
}

.hotel{
    width:160px;
    height:70px;
    /*border:1px solid red;*/
    margin:10px;
}

.cafebutton{
    width:75px;
    height:65px;
    background-color:lightpink;
}

.cafebutton:hover{
    background-color:lightblue;
}

.restaurantbutton{
    width:75px;
    height:65px;
    background-color:lightpink;
}

.restaurantbutton:hover{
    background-color:lightblue;
}

.spotbutton{
    width:75px;
    height:65px;
    background-color:lightpink;
}

.spotbutton:hover{
    background-color:lightblue;
}

.hotelbutton{
    width:75px;
    height:65px;
    background-color:lightpink;
}

.hotelbutton:hover{
    background-color:lightblue;
}

.sidebarcontent{            /*사이드바 버튼, 텍스트를 감싸는 블록*/
    display:block;
}

.regionSelect{
    overflow:scroll;
    overflow-x:hidden;
    width : 300px;
    height: 550px;
    margin-left: 30px;
    margin-top: 200px;
    border:1px solid black;
    justify-content:center;
}

.sidebar{
    overflow:scroll;
    /*overflow-x:hidden;*/
    width:480px;
    height:550px;
    display:block;
    width : 400px;
    height: 550px;
    margin-left: 30px;
    margin-top: 200px;
    border:1px solid black;
    /*transform:translateX(-100%);*/
    /*opacity:0;*/
    transition: transform 1s ease; opacity 1s ease;
}

.regions{
    width:250px;
    height: 50px;
    display:block;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color:lightpink;
    justify-content:center;
    text-align:center;
}

.section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}


.movebar{               /*열고닫기버튼*/
    width : 70px;
    height : 100px;
    margin-top: 400px;
    border:1px solid black;
    border-left-style:none;
}

.movebar:hover{
    background-color:black;
    color:white;
}