.view-container {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view-title {
    font-size: 15px;
    font-weight: bold;
    border-top: 2px solid #8f8f8f;
    border-bottom: 1px solid #666666;
    padding: 7px 0;
}

.view-info {
    font-size: 10px;
    color: #666;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8f8f8f;
}

#nickname {
    font-weight: bold;
    color: #444;
}

.view-content {
    margin: 20px;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    min-height: 300px;
}

.button-section1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.button-section1 .btn-like {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-section1 .btn-like:hover {
    background-color: #0056b3;
}


.button-section2 {
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #402E2A;
    padding-bottom: 10px;
}

.button-section2 .btn-report {
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-section2 .btn-report:hover {
    background-color: #b71c1c;
}

.move-to-list {
    padding: 10px 0;
    display: flex;
    justify-content: end;
    color: pink;
    border-bottom: 1px solid #402E2A;
    margin-bottom: 10px;
}

.move-to-list button {
    border: 1px solid;
    border-radius: 5px;
}

#post-comments-container {
    width: 100%;
}
#post-comments {
    width: 100%;
    border-radius: 5px;
    background-color: #f9f9f9;
    list-style: none;
    padding: 0;
    margin: 0;
}
.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
.comment-header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background: var(--background-color-grey);
    padding: 0 10px;
}
.comment-author {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
}
.comment-date {
    font-size: 12px;
    color: #aaa;
}
.comment-content {
    width: 100%;
    font-size: 14px;
    color: var(--text-color);
    padding: 20px;
    border: solid var(--background-color-grey);
    border-width: 0 1px 1px 1px;
}

#comment-insert {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--background-color-grey);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#comment-insert > label {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
#comment-insert-header {
    font-family: var(--font-menu), sans-serif;
    font-size: 14px;
    color: var(--text-color);
}
#comment-length {
    font-family: var(--font-normal), sans-serif;
    font-size: 10px;
    color: #aaa;
    align-self: flex-end;
}
#comment-area {
    width: 100%;
    height: 100px;
    font-family: var(--font-normal), sans-serif;
    font-size: 14px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    resize: none;
}
#comment-area:focus {
    outline: none;
}

#comment-submit {
    align-self: flex-end;
    width: 80px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-menu), sans-serif;
    font-size: 14px;
    color: white;
    background-color: var(--text-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#comment-submit:hover {
    color: var(--text-color);
    background-color: var(--background-color-grey);
}
#comment-submit:disabled {
    color: #aaa;
    background-color: var(--background-color-grey);
    cursor: not-allowed;
    pointer-events: none;
}